/* IMPORTANDO FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');

:root{
  --rojo: #E50914;
--fondo: #141414;
  --oscuro:#07070A;
  --azulOscuro:#0A1128;
  --azulClaro:#006FE6;
  --blanco:#FEFCFB;
  --blanco-gris:#F5F5F5;
  --titulos:'Baloo 2', cursive;
  --parrafos:'Montserrat', sans-serif;

  --letra: #fff;
  --fondo: #023877;
  --fondo1: #0074C7;
  --botones: #0099E9;
  --pasar: #2fb4cc;
  --cardp: #6a6a6a;
  --raya: #7a7a7a;
  --seleccion:#c6c4c493;
  --hover:#69F1A1;
}

/* ESTABLECIENDO ESTILOS BASICOS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

/* ESTILOS A NUESTRO HEADER */


.open #bar1{
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open #bar2 {
  opacity: 0;
}

.open #bar3{
  transform: rotate(45deg) translate(-6px, -6px);
}

/* ESTILOS A NUESTRO MENÚ RESPONSIVE */
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 20%;
  left: 40%;
  height: auto;
  width: 50%;
  background: #444c;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}