/* --------------------------------------------- ESTILOS BASE --------------------------------------------*/
:root{
    --rojo: #E50914;
	--fondo: #141414;
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --blanco-gris:#F5F5F5;
    --titulos:'Baloo 2', cursive;
    --parrafos:'Montserrat', sans-serif;

    --letra: #fff;
    --fondo: #023877;
    --fondo1: #0074C7;
    --botones: #0099E9;
    --pasar: #2fb4cc;
    --cardp: #6a6a6a;
    --raya: #7a7a7a;
    --seleccion:#c6c4c493;
    --hover:#69F1A1;
    --verdelogin:#035f22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    color: var(--oscuro);
}

.contenedor{
    width: 90%;
    height: auto;
    background: var(--blanco-gris);
    margin: auto;
}

header{
    height: 100px;
    margin-bottom: 10%;
}

/* -------------------------------------------- MAIN ------------------------------------------*/
main {
    width: 90%;
    height: 100vh;
    max-width: 800px;
    margin: 25px auto;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid var(--verdelogin);
    box-shadow: 0 2px 10px var(--verdelogin), 0 2px 10px var(--verdelogin);
}

/* -------------------------------------------- FORMULARIO ------------------------------------------*/
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    background: transparent;
    border-bottom: 2px solid var(--verdelogin);
    border-right: none;
    color: var(--seleccion);
    font-size: 17px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px var(--verdelogin);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    padding: 15px;
    border-radius: 5px;
    background: var(--rojo);
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: var(--oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: var(--verdelogin);
    transition: 1s;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: var(--hover);
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: var(--hover);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: var(--rojo);
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: var(--rojo);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid var(--rojo);
    
}


/* -------------------------------------------- RESPONSIVE  --------------------------------------*/

@media screen and (max-width:720px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}