:root{
    --rojo: #E50914;
	--fondo: #141414;
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --blanco-gris:#F5F5F5;
    --titulos:'Baloo 2', cursive;
    --parrafos:'Montserrat', sans-serif;

    --letra: #fff;
    --fondo: #023877;
    --fondo1: #0074C7;
    --botones: #0099E9;
    --pasar: #2fb4cc;
    --cardp: #6a6a6a;
    --raya: #7a7a7a;
    --seleccion:#c6c4c493;
    --hover:#69F1A1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.625em;
}

body {
    font-size: 1.6rem;
    background: rgba(255, 254, 255, 0.8);
}

#container{
    margin-top: 2%;
}

li {
    list-style: none;
}

iframe {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


#galeria-responsive {
    max-width: min(90%, 1600px);
    position: absolute;
    top: 40%;
    
}

#galeria-responsive img {
    width: 100%;
    display: block;
    
}


@media (min-width: 500px) {
    #galeria-responsive {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }

    #galeria-responsive li {
        flex: 0 1 calc(50% - 10px);
        margin: 5px;
    }
}


@media (min-width: 700px) {
    #galeria-responsive li {
        flex: 0 1 calc(33.33% - 10px);
    }
}


@media (min-width: 900px) {
    #galeria-responsive li {
        flex: 0 1 calc(25% - 10px);
    }
}
