

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(0.7em, 2.5vw, 1.3em);
}

body {
    font-size: clamp(0.7em, 2.5vw, 1.5em);
    background: rgba(255, 254, 255, 0.8);
}

#container{
    margin-top: 2%;
}

li {
    list-style: none;
}

iframe {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


#galeria-responsive {
    max-width: min(90%, 1600px);
    position: absolute;
    top: 40%;
    
}

#galeria-responsive img {
    width: 100%;
    display: block;
    
}


@media (min-width: 500px) {
    #galeria-responsive {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }

    #galeria-responsive li {
        flex: 0 1 calc(50% - 10px);
        margin: 5px;
    }
}


@media (min-width: 700px) {
    #galeria-responsive li {
        flex: 0 1 calc(33.33% - 10px);
    }
}


@media (min-width: 900px) {
    #galeria-responsive li {
        flex: 0 1 calc(25% - 10px);
    }
}
